@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

*,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(26, 176, 154);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.content {
    max-width: 640px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    position: relative;
}

#form {
    display: flex;
    flex-direction: column;
}

form input,
form label,
form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form button {
    height: 50px;
    border: none;
    background-color: rgb(22, 149, 130);
    font-size: 1.1em;
    color: white;
}

.sucesseful {
    background-color: rgb(31, 168, 43);
}

.fail {
    background-color: rgb(195, 45, 45);
}

form button:hover{
    cursor: pointer;
}